* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgb(255, 253, 251);
}
html {
  scroll-behavior: smooth;
}
/* :root {
  --backround-colot-main: rgb(250, 248, 248);
  --backround-colot-secondary: #212121;
  --width-main: 70%;
} */
/* p {
  font-size: 2em; */
/* } */
/* h1 {
  font-size: 3em;
} */

/*Header with links part and design*/
header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  position: sticky;
  top: 0;
}
header img {
  max-height: 80%;
}
#menu-links a:hover {
  color: rgb(202, 123, 153);
}

#menu-links {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
#menu-links a {
  color: rgb(95, 94, 94);
  text-decoration: none;
  font-size: 1em;
}

/*First section with design and img adjustments*/
#section-features {
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
  gap: 5px;
  row-gap: 5%;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
#section-features h3 {
  font-weight: 700;
  font: size 16px;
  color: #ff3998;
}
#section-features h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  color: #111111;
}
#section-features p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #555555;
}
#section-features p,
#section-features h1 {
  width: var(--width-main);
}
#section-features img {
  width: 100%;
  border-radius: 2%;
  /* position: absolute; */
  right: -250px;
  /* background-image: ; */
}
#section-features button {
  width: 188px;
  height: 75px;
  font-size: 1.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  border: 4px solid #000000;
}
/* Second section with backround as a color and text*/
#section-about {
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
  gap: 5px;
  row-gap: 5%;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
}
#section-about h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 16px;
  color: #111111;
}
#section-about h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #111111;
}
.logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center; */
  /* align-items: center; */
  align-items: start;
  gap: 10px;
  padding: 64px 32px;
}
.logos img {
  height: 40px;
  align-self: flex-start;
}
