* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: rgb(255, 253, 251);
}
html {
  scroll-behavior: smooth;
}
:root {
  --backround-colot-main: rgb(250, 248, 248);
  --backround-colot-secondary: #212121;
  --width-main: 70%;
}
/* p {
  font-size: 2em; */
/* } */
/* h1 {
  font-size: 3em;
} */
header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  position: sticky;
  top: 0;
}
header img {
  max-height: 80%;
}
#menu-links a:hover {
  color: rgb(202, 123, 153);
}

#menu-links {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
#menu-links a {
  color: rgb(95, 94, 94);
  text-decoration: none;
  font-size: 1em;
}

#section-features {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 50px 10%;
  gap: 5px;
  row-gap: 5%;
  align-items: center;
  justify-content: center;
}
#section-features h3 {
  font-size: small;
  color: rgb(237, 14, 129);
}
#section-features h1 {
  font-family: arial black;
  font-size: 1.5em;
  color: black;
}
#section-features p,
#section-features h1 {
  width: var(--width-main);
}
#section-features img {
  width: 100%;
  border-radius: 2%;
}
#section-features button {
  width: 28%;
  height: 60px;
  font-size: 1.5em;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  border: 3px solid rgb(242, 77, 179);
}
