* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgb(255, 253, 251);
}
html {
  scroll-behavior: smooth;
}
/*Header with links part and design*/
header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  position: sticky;
  top: 0;
}
header img {
  max-height: 80%;
}
#menu-links a:hover {
  color: rgb(202, 123, 153);
}

#menu-links {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
#menu-links a {
  color: rgb(95, 94, 94);
  text-decoration: none;
  font-size: 1em;
}

/*First section with design and img adjustments*/
#section-features {
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
  gap: 5px;
  row-gap: 5%;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  background-image: url("./assets/graphic.svg");
  background-repeat: no-repeat;
  background-position: 85% 30%;
}
#section-features h3 {
  font-weight: 700;
  font: size 16px;
  color: #ff007b;
}
#section-features h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  color: #111111;
}
#section-features p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}
#section-features p,
#section-features h1 {
  width: var(--width-main);
}
#section-features img {
  width: 100%;
  border-radius: 2%;
  right: -250px;
}
#section-features button {
  width: 188px;
  height: 75px;
  font-size: 1.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  border: 4px solid #000000;
}
/* Second section with backround as a color and text with logos*/
#section-about {
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
  background-image: url(./assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
#section-about h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 16px;
  color: #111111;
}
#section-about h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #111111;
}
.logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 10px;
  padding: 64px 32px;
}
@media screen and (min-width: 1100px) {
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.logos img {
  height: 40px;
  align-self: flex-start;
}
/* Third section with cards and a text*/
.launch-text h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #111111;
  padding-bottom: 16px;
  padding: 45px;
}
.launch-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #555555;
  padding-top: 16px;
  padding: 45px;
}
#section-launch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px 57.5px;
  gap: 5px;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
}

/* .div-card {
} */
.launch-card {
  background-color: #eeeeee;
  width: 290px;
  height: 400px;
  height: auto;
  border-radius: 16px;
}
.launch-card img {
  width: auto;
  height: auto;
  border-radius: 5%;
}
.launch-card h3 {
  text-align: left;
  margin: 5% 0;
}
.cardItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
}
/*Cards' desing/parametres*/
#l1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #ff8139;
  margin-bottom: 12px;
}
#l2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #111111;
  margin-bottom: 12px;
}
#l3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #777777;
}
#l4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #777777;
  margin-bottom: 12px;
}
#l5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #111111;
  margin-bottom: 12px;
}
#l6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}
/*Section Sign-up design*/
#section-signup {
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
  gap: 5px;
  row-gap: 5%;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  background-image: url("./assets/upsell-footer-image.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 30px;
}
#section-signup h3 {
  font-weight: 700;
  font: size 16px;
  color: #ff3998;
}
#section-signup h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  color: #111111;
}
#section-signup p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #555555;
}
#section-signup button {
  width: 188px;
  height: 75px;
  font-size: 1.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  border: 4px solid #000000;
}
/*Section's footer design*/
footer {
  padding: 105px 32px;
}
ul {
  list-style-type: none;
}
.footerNav {
  display: flex;
  flex-direction: column;
}

.footerLogo {
}
.footerLogo p {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #555555;
  padding-top: 15px;
}
#f2 {
  width: 100px;
  padding-top: 12px;
}
.footerLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  padding: 64px 0;
}
.footerLinks h1 {
  padding-bottom: 28px;
}

.footerLinks li {
  padding-bottom: 15px;
}

@media screen and (min-width: 1100px) {
  .footerNav {
    flex-direction: row;
    justify-content: space-between;
  }
  .footerLinks {
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 101px;
  }
}
